// Color
color-background = #e6e6e6
color-font = #444
color-meta = #999
color-border = #ddd
color-link = #3d658d

// Font
font-default = "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif
font-serif = "Georgia", serif
font-mono =  Consolas, "Lucida Console", "Courier New", Menlo, Monaco, "Microsoft Yahei", monospace
font-title = "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif

// Width
page-width = 820px
