<div class="alignleft">
  <p>
  <% if (config.author){ %>
    &copy; <%= new Date().getFullYear() %> <%= config.author %>
  <% } else { %>
    &copy; <%= new Date().getFullYear() %> <%= config.title %>
  <% } %>
  </p>
  <p>
    <a href="http://github.com/willerce/hexo-theme-noderce">Noderce</a> Theme By <a href="http://willerce.com" >willerce</a>
  </p>

</div>
<div class="clearfix"></div>