#header
  height 45px;
  background #bb3131;
  background: linear-gradient(to bottom,#c63a3a 0,#c43837 29%,#c13635 55%,#bd3232 55%,#ba3030 77%,#b32b2b 100%);
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);

  h1
    font-weight normal
    font-size 2em
    line-height 45px
    a
      color #f5f5f5;

  h2
    display none


  @media screen and (max-width: 820px)
    padding 0 1em

#main-nav
  position absolute
  right 0
  top 0
  ul
    list-style none
    li
      float left
      margin-left 15px
      line-height 45px
      a
        color #ddd
        &:hover
          color #fff